/*Where we add our own CSS for all the html templates*/
textarea {
  resize: none;
}
.button {
  font-size: 20px;
}
.bigicon {
  /*used exclusively for loading icons in sync.html*/
  font-size: 70px;
}

