<ion-view view-title="Submit">
	<ion-content>
		<form ng-submit="doSubmit(teamdata)">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Team Name</span>
					<input type="text" ng-model="teamdata.teamname" placeholder="Basement Lions">
				</label>
				<label class="item item-input">
					<span class="input-label">Team Number</span>
					<input type="tel" ng-model="teamdata.teamnumber" placeholder="5806">
				</label>
				<label class="item item-input">
					<span class="input-label">Describe the autonomous</span>
					<input type="text" ng-model="teamdata.auto" placeholder="The best ever">
				</label>
				<ion-toggle ng-model="teamdata.high" toggle-class="toggle-calm">Can score in high goal</ion-toggle>
				<label class="item">
					<button class="button button-block button-positive" type="submit">Submit</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>
