<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<ion-tab title="Sync" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/sync">
		<ion-nav-view name="tab-sync"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Submit" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/submit">
		<ion-nav-view name="tab-submit"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Database" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/data">
		<ion-nav-view name="tab-data"></ion-nav-view>
	</ion-tab>

</ion-tabs>
